*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
app/release/
build_error.log
build_log.txt
build_log_2.txt
build_output.log
build_output_2.log
jvm_inner_list.txt
jvm_list.txt
